h1{font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 20pt;
    font-weight: bold;
    margin-bottom: 1em;
    }
ul{text-align:justify;
   margin-bottom: .6em;}

em{
    text-align:center;
    background-color:green;
    width: 10em;
    color:black;
    border-style:groove;
  
    height: 2em;
}
div{
    text-align:center;
}
.um
{
    background-color:red;
    color:black;
    border-style:groove;
    width: 10em;
    height: 2em;
}
.om{
    text-align:center;
    background-color:blue;
    color:black;
    border-style:groove;
    width:10em;
    height: 2em;
}



