h1{font-family:Arial, Helvetica, sans-serif;
      font-size: 20pt;
    font-weight: bold;
    margin-bottom: 1em;
    }
ul{text-align:justify;
   height: 1em;
   margin-bottom: 2em;}
p
{
    display:flex;
    align-items:center;
}
img
{
    transition: transform 2s;
}
img:hover
{
    transform: scale(2,2);
}



div
{
    text-align:center;
}
.low
{
    border-color:grey;
    height:150px;
    width:150px;
    border-style:groove;
}
.um
{
    background-color:red;
    color:black;
    border-style:groove;
    width: 10em;
    text-align:center;
    padding: 1em;
}
.om{
    background-color:skyblue;
    color:black;
    border-style:groove;
    width:10em;  
    text-align:center;
    padding: 1em;
    
}
.tm
{
    background-color:lightgreen;
    width: 10em;
    color:black;
    border-style:groove;
    text-align:center;
    padding: 1em;

}
.up
{
    background-color:purple;
    display:inline-block;
    width:1024px;
    height:10px;
}
.wrap
{
    text-align:center;
}
.wrapwrap
{
    display:inline-block;
    width:1024px;
    border-style:groove;
    border-color:purple;
    height:50px;
    margin:5px;
}
.wrapnew
{
    display:inline-block;
    width:1024px;
    border-style:groove;
    border-color:purple;
    height:100px;
    
}
.title
{
   text-align:left;
   height:40px;
   animation-name:movingimage;
   animation-timing-function:linear;
   animation-delay:1s;
   animation-duration:2s;
   font-size:40px;
   
}
.temp
{
   animation-iteration-count: infinite;
   

}
@keyframes movingimage
{
    0% {margin-left: 100%; width: 300%; }
    100%{margin-left: 0%; width: 100%;}
}



